{% extends 'main/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<h1 class="text-center">Hello, {{ request.user.username }}</h1>
<br>
<div class="jumbotron align-items-center min-vh-100">
  <div class="container text-center">

    <form action="{% url 'log_out' %}">
      <input type="submit" class="btn btn-primary form-control w-50" value="Logout of your account">
    </form>
    <br>

    <form action="users_table">
      <input type="submit" class="btn btn-primary form-control w-50" value="Table account">
    </form>
  </div>
</div>

{% else %}

  <h1 class="text-center">You are not authorized</h1>
<br>
  <div class="jumbotron align-items-center min-vh-100">
    <div class="container text-center">
      <!-- Log in to account -->
      <form action="log_in">
        <input type="submit" class="btn btn-primary form-control w-50" value="Login to your account">
      </form>
      <br>
      <!-- Create account -->
      <form action="sign_up">
        <input type="submit" class="btn btn-primary form-control w-50" value="Create account">
      </form>
    </div>
  </div>

{% endif %}


{% endblock %}
